<div class="banner d-flex align-items-center">
  <div class="container">
    <div class="row d-flex">
      <div class="col-12 col-sm-10 col-md-7 banner-text">
        <h1 class="h1">A hybrid reward system incorporating a future DAO & Dapps</h1>
        <div class="base-text">
          <p>
            We’re an experimental hybrid staking & deflationary concept built to reward long term holders and
            dis-incentivise selling
          </p>
        </div>

        <a href="https://uniswap.exchange/swap?inputCurrency=0x896a07e3788983ec52eaf0f9c6f6e031464ee2cc&outputCurrency=0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2" class="btn">Where to buy </a>
      </div>
      <div class="banner-picture">
        <div class="main-picture">
          <img src="assets/images/intro-img2.png" alt="banner">
        </div>
      </div>
    </div>
  </div>
</div>