<section class="services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6  col-xl-3 services-card">
        <div class="services-card__inner item-animation">
          <div class="services-card__icon">
            <img src="assets/images/card1.svg" alt="card">
          </div>
          <h3 class="h3">
            Hybrid Reward Model
          </h3>
          <div class="base-text">
            <p>Stake your LOCK for interest & receive more LOCK when others unstake</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6  col-xl-3 services-card">
        <div class="services-card__inner item-animation">
          <div class="services-card__icon">
            <img src="assets/images/card2.svg" alt="card">
          </div>
          <h3 class="h3">
            Flexible Staking Structure
          </h3>
          <div class="base-text">
            <p>Staking interest & burn rate will fluctuate each month to ensure demand for staking</p>
          </div>
        </div>
      </div> 
      <div class="col-12 col-sm-6  col-xl-3 services-card">
        <div class="services-card__inner item-animation">
          <div class="services-card__icon">
            <img src="assets/images/card3.svg" alt="card">
          </div>
          <h3 class="h3">
            Deflationary Supply
          </h3>
          <div class="base-text">
            <p>10% of tokens burned with each transaction between wallets</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3 services-card">
        <div class="services-card__inner item-animation">
          <div class="services-card__icon">
            <img src="assets/images/card4.svg" alt="card">
          </div>
          <h3 class="h3">
            Future DAO/Dapps
          </h3>
          <div class="base-text">
            <p>Holders will be able to vote for reward schemes, incentives and future Dapps</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>