<section class="work">
  <div class="work-holder section-color">
    <div class="container">
      <h2 class="h2">How it works</h2>
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row work-list">
            <div class="col-md-4 work-card item-animation">
              <div class="work-card__icon">
                <img src="assets/images/icon1.svg" alt="icon">
              </div>
              <h3 class="h3">
                Extra incentives to hold
              </h3>
              <div class="base-text">
                <p>
                  Stakers receive a 1% daily LOCK dividends.
                  When others unstake, 5% of the penalty fee gets re-distributed to holders 10%. Burned when users unstake their LOCK. 
                </p>
              </div>
            </div>
            <div class="col-md-4 work-card item-animation">
              <div class="work-card__icon">
                <img src="assets/images/icon2.svg" alt="icon">
              </div>
              <h3 class="h3">
                Increased scarcity through hyper-deflation
              </h3>
              <div class="base-text">
                <p>
                  10% burned with each transaction.
                  The inflation from staking is balanced out by a burn from the reserve pool.
                </p>
              </div>
            </div>
            <div class="col-md-4 work-card item-animation">
              <div class="work-card__icon">
                <img src="assets/images/icon3.svg" alt="icon">
              </div>
              <h3 class="h3">
                Future utility for holders
              </h3>
              <div class="base-text">
                <p>
                  Major share of total supply locked for future DAO/Dapps implementation through community voting.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="work-details">
            Full details on our litepaper <br>
            - released before <a href="#" class="btn-color">July</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>