<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <div class="wrapper">
    <section class="section-color">
      @@include('../partials/components/header.html')
      <!-- @@include('../partials/components/banner.html') -->
    </section>
    <section>
      <article style="margin-top: 120px;">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>The information provided on this website does not constitute investment advice, financial advice, trading advice, or any other sort of advice and you should not treat any of the website's content as such. We do not recommend that any cryptocurrency should be bought, sold, or held by you. Do conduct your own due diligence and consult your financial advisor before making any investment decisions.</p>
              <p>By purchasing Meridian Network tokens , you agree that you are not purchasing a security or investment and you agree to hold the team harmless and not liable for any losses or taxes you may incur. You also agree that the team is presenting the token "as is" and is not required to provide any support or services. You should have no expectation of any form from Meridian Network and its team.</p>
              <p>Although Meridian Network is a FUN token for social experiment and not a digital currency, the team strongly recommends that United States persons do not purchase it because the team can not ensure compliance with United states regulations. Always make sure that you are in compliance with your local laws and regulations before you make any purchase.</p>
            </div>
          </div>
        </div>
      
      </article>
    </section>
    @@include('../partials/components/footer.html')
  </div>

  @@include('../partials/scripts/common.html')
</body>

</html>